@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #1a1a1a;
  color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

main {
  text-align: left;
/*   vertical-align: left; */
/*   line-height: 100vh */
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(238, 100%, 44%, 0.78);
/*   hsla(238, 100%, 44%, 0.78) */
  transition: 0.4s;
  border-radius: 0px;
}

.options {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  padding: 0px;
}

.option {
/* width: 90%; */
transition: all 0.5s ease;
background-color: rgb(255, 255, 255);
margin-top: 15px;
/* padding: 20px; */
font-size: 4rem;
font-weight: bold;
color: black;
height: calc(100vh / 7);
display: flex;
/* justify-content: center; */
align-items: center;
padding-left: 15px;
}

.option:hover {
  background-color: hsla(0, 0%, 0%, 0.78);
  color: white;
  width: 95%;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(238, 100%, 44%, 0.3);
    border-radius: 5px
  }
}
